body {
  font-family: work-sans, sans-serif;
}
.topnav {
  overflow: hidden;
}
nav {font-weight: 400;
  font-style: normal;
  font-size: 20;}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 8px;
  text-decoration: none;}

.topnav-right {
  float: right;}

.button1{
font-family: grange, sans-serif;
font-weight: 600;
font-style: normal;
background-color:#BEE1D6; }

.button2{

    font-family: grange, sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #FCB140;}    

.footer {
  background-color: #FCB140;
}
.left-footer {float: left;
}
.rightfooter {
  float: right;
}